<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>工单回覆--【工单编号: <span th:text="${data.orderid}">orderid</span>】<span th:text="${data.userName}">userName</span>(<span
            th:text="${data.userId}">userId</span>)_<span th:text="${data.tenantName}">tenantName</span>(<span
            th:text="${data.tenantId}">tenantId</span>)</title>
    <style type="text/css">
    .mail-Mbody {
      padding: 0;
      margin: 0 auto;
      border: 1px solid #efefef;
      font-family: Avenir, 'Monospaced Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 400;
    }

    .mail-Mbody div,
    .mail-Mbody p,
    .mail-Mbody div table {
      max-width: 880px;
    }

    .mail-Mbanner {
      border: none;
      display: block;
    }

    .mail-Mcontent {
      width: auto;
      max-width: 900px;
      padding: 1rem 1rem 2rem 1rem;
      font-size: 16px;
      line-height: 1.5;
      /* display: table;
      margin: 0 auto; */
    }

    .mail-Mtitle {
      font-size: 20px;
      margin: 16px 0;
    }

    .mail-MblockA {
      font-size: 16px;
      line-height: 1.5;
      color: #444;
      padding: 15px 0 0 32px;
      display: block;
    }

    .mail-Mbtn-block {
      padding: 20px 0 20px 32px;
      display: block;
    }

    /* .mail-Mbtn-button {
      border: none;
      background:#197BAC;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      padding: 6px 45px;
      color: #FFF;
      font-size: 16px; */
      /* font-family: '微軟正黑'; */
      /* font-family: "微软雅黑";
    } */

    /* .mail-Mbtn-button a {
      color: #FFF;
      text-decoration: none;
    } */

    /* .mail-Mbtn-button:hover {
      opacity: 0.75;
    } */

    .mail-MbottomBlock {
      padding-top: 10px;
      padding-left: 32px;
      display: block;
    }

    .mail-Mfooter {
      font-size: 13px;
      background-color: #f2f2f2;
      color: #666;
      text-align: center;
      padding: 20px 0;
      border-top: 1px solid #ccc;
      max-width: 900px;
    }

    .mail-Ma1 {
      color: #c00;
      font-weight: 700;
      text-decoration: none;
      font-family: "微软雅黑";
    }

    .mail-Ma2 {
      color: #000;
      text-decoration: none;
      font-family: "微软雅黑";
    }





    </style>
</head>

<body>
<div class="mail-Mbody"
     style="width: auto; max-width: 900px; padding: 0; margin: 0 auto; border: 1px solid #efefef; font-family: Avenir, 'Monospaced Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400;">

    <div class="mail-Mpic">
        <img class="mail-Mbanner" style="border: none; display: block;"
             src="https://dmc.digiwincloud.com.cn/api/dmc/v1/buckets/digiwincloud/shareFiles/files/99291693-0328-4901-9896-e6a4655fba26/toAnyOne">
    </div>
    <div class="mail-Mcontent" style="width: auto; padding: 1rem 1rem 2rem 1rem;">
        <div class="mail-Mtitle" style="font-size: 20px; margin: 16px 0;">
            【工单编号: <span th:text="${data.orderid}">orderid</span>】
            【状态: <span th:text="${data.status}">status</span>】
        </div>
        <div class="mail-Mmain">
            <div class="mail-MblockA"
                 style="font-size: 16px; line-height: 1.5; color:#444; padding: 15px 0 0 32px; display: block;">
                <div>尊敬的客户 <span th:text="${data.contactUser}">contactUser</span> 您好:
                </div>
                <p>感谢您的提问, 工程人员已回复 可前往工作台查看内容 :</p>
                <p>工单主题 : </p>
                <div>
                    <a style="color: #197BAC; cursor: pointer; text-decoration: underline; font-weight: bold;"
                       href="" th:href="@{${data.devopsUrl}}"
                       target="_blank"><span th:text="${data.orderTheme}">orderTheme</span></a>
                </div>
                <!-- <p>感谢您的提问</p>
                <p>工单主题 : <span th:text="${data.orderTheme}">orderTheme</span></p> -->
                <!-- <p>已经回复如下 :</p>
                <div style="margin: 2rem 0; padding: 1rem; border: 1px dotted #ccc; width: 700px; background-color: #f2f2f2;">
                    <span th:utext="${data.content}">content</span>
                </div> -->
            </div>

            <!-- <div class="mail-Mbtn-block" style="padding: 20px 0 20px 32px; text-align: center;">
                <div style="background-color: #197BAC; border-radius: 4px; display: table; padding: 0; font-size: 16px; text-decoration: none;
           color: #FFF; cursor: pointer;">
                    <a style="border: 2px solid #197BAC; background-color: #197BAC; display: table; border-radius: 4px; text-decoration: none; padding: 6px 45px; color: #fff; cursor: pointer;"
                       th:href="@{${data.devopsUrl}}"
                       target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;立即前往工单中心&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
            </div> -->
            <div class="mail-MbottomBlock">
                <br>
                <p>此为系统邮件，请勿回复。</p>
                <p style="padding: 0; padding-right:68px; margin: 0;">顺祝商祺</p>
                <p style="padding-right: 0; margin: 12px 0;">鼎捷云团队敬上</p>
            </div>
        </div>
    </div>
    <div class="mail-Mfooter"
         style="font-size: 13px; background-color: #f2f2f2; color: #666; text-align: center; padding: 20px 0; border-top: 1px solid #ccc; max-width: 900px;">
        <p>
            <a class="mail-Ma1" style="color: #c00; font-weight:700; text-decoration: none;" href=""
               th:href="@{${digiwinCloudUri} + '/dw-display/email-consultation'}">
                ※ 此信件为系统发出信件，请勿直接回覆。若您有相关问题请至网站「咨询回馈」提出，谢谢！
            </a>
        </p>
        <p>
            <span>鼎捷云开发者门户：</span>
            <a class="mail-Ma2" style="color: #000; text-decoration: none;" href="" th:href="@{${data.devdevopsUrl}}"
               th:text="${data.devdevopsUrl}" target="_blank">
                开发者门户链接
            </a>
        </p>
        <p>鼎捷软件股份有限公司 | 上海市静安区江场路1377弄绿地中央广场1号楼22楼</p>
    </div>
    <div class="mail-Mpic">
        <img class="mail-Mbanner" style="border: none; display: block;"
             src="https://dmc.digiwincloud.com.cn/api/dmc/v1/buckets/digiwincloud/shareFiles/files/7c24a441-8caf-4a7b-972a-92b3b7f92929/toAnyOne">
    </div>
</div>
</body>

</html>
